table#chessBoard-view {
    border-spacing: 0px;
    border-collapse: collapse;
}

table#chessBoard-view td {
    padding: 0px;
}


.board-field, .label {
    width: 64px;
    height: 64px;
}

td.odd {
    background: beige;
}

td.even {
    background: sienna;
}

td.label {
    text-align: center;
    font-weight: bold;
    border: 0px solid #000;
}

td.border-left {
    border-left-width: 1px;
}

td.border-right {
    border-right-width: 1px;
}

td.border-top {
    border-top-width: 1px;
}

td.border-bottom {
    border-bottom-width: 1px;
}